/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Utlis/loading.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
#loading_page__htZRO {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loading_container__a9YT1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #loading_h3__M5cBE {
    color: rgb(82, 79, 79);
  }
  
  #loading_ring__VU19_ {
    width: 190px;
    height: 190px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
  }
  
  #loading_ring__VU19_:nth-child(1) {
    border-bottom: 8px solid rgb(240, 42, 230);
    animation: loading_rotate1__ICK34 2s linear infinite;
  }
  
  @keyframes loading_rotate1__ICK34 {
    from {
      transform: rotateX(50deg) rotateZ(110deg);
    }
  
    to {
      transform: rotateX(50deg) rotateZ(470deg);
    }
  }
  
  #loading_ring__VU19_:nth-child(2) {
    border-bottom: 8px solid rgb(240, 19, 67);
    animation: loading_rotate2__5IwRH 2s linear infinite;
  }
  
  @keyframes loading_rotate2__5IwRH {
    from {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
  
    to {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
  }
  
  #loading_ring__VU19_:nth-child(3) {
    border-bottom: 8px solid rgb(3, 170, 170);
    animation: loading_rotate3__yNRv_ 2s linear infinite;
  }
  
  @keyframes loading_rotate3__yNRv_ {
    from {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
  
    to {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
  }
  
  #loading_ring__VU19_:nth-child(4) {
    border-bottom: 8px solid rgb(207, 135, 1);
    animation: loading_rotate4__GIql2 2s linear infinite;
  }
  
  @keyframes loading_rotate4__GIql2 {
    from {
      transform: rotateX(70deg) rotateZ(270deg);
    }
  
    to {
      transform: rotateX(70deg) rotateZ(630deg);
    }
  }
  /* Improving visualization in light mode */
